	<footer></footer>

    <script>

        if ( window.location.hostname.indexOf('localhost') == -1 ) {

            // If NOT Localhost set Google Analytics
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-8071527-6', 'auto',{
                'appName': 'gifbooth',
                'appVersion': '0.1.4',
                'appId': 'com.sethmac.gifbooth'
            });
            ga('send', 'screenview', {
                'screenName': 'Home'
            });
        } else {

            // If Localhost Debug Analytics
            var ga = function() {
                var args = [];
                for ( i=0, t=arguments.length; i<t; i++ ) {
                    if ( typeof arguments[i] == "object")
                        arguments[i] = JSON.stringify(arguments[i]);

                    args.push(arguments[i]);
                }
                console.log(args);
            };
        }

        // ERROR REPORTING
        if (typeof window.onerror == "object") {
            window.onerror = function(msg, url, line) {
                var message = msg.length < 140 ? msg : msg.substr(0, 139);
                ga('send', 'exception', { 'exDescription': line + ": " + message, 'exFatal': 1 });
                return false;
            };
        };

        // WARNING REPORTING
        if (typeof window.console == "object" && typeof window.console.warn == "function") {
            window.console._warn = window.console.warn;
            window.console.warn = function() {
                console.log(arguments);
                // var message = msg.length < 140 ? msg : msg.substr(0, 139);
                // ga('send', 'exception', { 'exDescription': line + ": " + message, 'exFatal': 0 });
                window.console._warn(arguments);
            };
        }

    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="jquery.sortable.min.js"></script>
    <script src="gif.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>
