@font-face {
	font-family: "symbols";
	src: url('/symbols.eot');
	src: url('/symbols.eot?#iefix') format('eot'),
		url('/symbols.woff') format('woff'),
		url('/symbols.ttf') format('truetype'),
		url('/symbols.svg#symbols') format('svg');
	font-weight: normal;
	font-style: normal;
}

.symbol:before {
	display: inline-block;
	font-family: "symbols";
	width: 1em;
	margin: 0;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	line-height: 1em;
	speak: none;
}


.s-book:before { content: "\E001" }
.s-briefcase:before { content: "\E002" }
.s-camera:before { content: "\E003" }
.s-delete:before { content: "\E004" }
.s-download:before { content: "\E005" }
.s-fast:before { content: "\E006" }
.s-frames:before { content: "\E007" }
.s-garbage:before { content: "\E008" }
.s-overlay:before { content: "\E009" }
.s-pictures:before { content: "\E00A" }
.s-reload:before { content: "\E00B" }
.s-slow:before { content: "\E00C" }
.s-switch:before { content: "\E00D" }
