// ================================
// Main
// ================================

body {
    padding-top: rem(30px);
    padding-bottom: rem(111px);
    min-height: 100vh;
}

main.app {
    position: static;
}

canvas {
    display: none;
}





.invert-preview {
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    height: 1.5em;
    width: 1.5em;
    z-index: 2;
    background-color: setcolor(black);

    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.live-wrapper {
    background-color: rgba(0,0,0,.5);
    cursor: pointer;
    position: absolute;
    bottom: 2vw;
    right: 2vw;
    height: 14.0625vw;
    display: inline-block;
    width: 25vw;
    z-index: 10;
    border: 1px solid setcolor(gray, light);

    .view.invert & {
        bottom: inherit;
        right: inherit;
        left: 0;
        top: 0;
        display: inline-block;
        width: 100%;
        z-index: 1;
        border: none;

        .invert-preview {
            display: none;
        }
    }

    > .live {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }

    &::before {
        position: absolute;
        top: rem(2px);
        right: rem(2px);
        opacity: .8;
        font-size: rem(7px);
        color: setcolor(red, base);
        border: 1px solid setcolor(red, base);
        background-color: setcolor(white);
        padding: rem(1px) rem(3px);
        content: "LIVE";
        font-weight: bold;
        z-index: 2;
    }
}

.preview-wrapper {
    background-color: rgba(0,0,0,.2);
    position: absolute;
    display: inline-block;
    width: 100%;
    z-index: 1;
    border: none;
    top: 0;
    left: 0;

    .view.invert & {
        top: inherit;
        left: inherit;
        bottom: 2vw;
        right: 2vw;
        height: 14.0625vw;
        width: 25vw;
        z-index: 10;
        border: 1px solid setcolor(gray, light);

        .invert-preview {
            display: inline-block;
        }
    }

    .invert-preview {
        display: none;
    }

    > .preview {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }

    &::before {
        position: absolute;
        top: rem(2px);
        right: rem(2px);
        opacity: .8;
        font-size: rem(7px);
        color: setcolor(blue, base);
        border: 1px solid setcolor(blue, base);
        background-color: setcolor(white);
        padding: rem(1px) rem(3px);
        content: "GIF";
        font-weight: bold;
        z-index: 2;
    }
}

.view {
    margin: 0 auto;
    padding: 2vw;
    background-color: setcolor(black);
    width: 100%;
    max-width: 139vh;

    &::after {
        content: "";
        display: block;
        padding-top: 56%;
        height: 0;
        width: 0;
    }
}


.frame-wrapper {
    position: fixed;
    top: 0;
    right: calc(-20vw);
    width: 20vw;
    height: 100%;
    overflow-y: scroll;
    background-color: setcolor(gray, dark);

    border-left: 1px solid setcolor(black);
    z-index: 40;
    transition: right 300ms ease-in;

    &.active {
        right: 0;
    }
}

.frame-container {
    @extend %cf;
    padding: .2em 0;
    cursor: move;

    & + & {
        margin-top: 1vw;
    }
}

.frames {
    list-style: none;
    padding: 1vw;

    img {
        display: block;
        width: calc(100% - .5em);
    }
}

.remove {
    cursor: pointer;
    color: setcolor(white);
    position: absolute;
    top: -.5em;
    right: 0em;
    z-index: 2;
    background-color: setcolor(red, base);
    border-radius: 50%;
    height: 1em;
    width: 1em;

    i {
        font-size: .7em;
        line-height: .5;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.controls {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: rem(10px);
    padding: 1em;
    width: 100%;
    background-color: setcolor(gray, base);
    list-style: none;

    @include mq(medium) {
        font-size: rem(16px);
    }
}

.control {
    display: inline-block;
    margin-right: rem(.5em);
    vertical-align: middle;

    &.disabled {
        opacity: .2;
        cursor: not-allowed;

        &::before {
            position: absolute;
            top:0;
            left:0;
            height: 100%;
            width: 100%;
            background-color: rgba(0,0,0,.001);
            content: "";
            z-index: 2;
        }
    }

    &.wide {
        width: 35%;
    }

    &.divider {
        margin-right: rem(1em);
        padding-right: rem(1em);
        border-right: 1px solid #111;
    }

    .button {
        cursor: pointer;
        display: block;
        padding: .2em;
        font-size: 1em;
        line-height: 1;
        height: 2em;
        width: 2em;
        background-color: setcolor(blue, base);
        box-shadow: .1em .1em 0 setcolor(blue, dark);

        &:link,
        &:hover,
        &:active,
        &:visited {
            color: setcolor(white);
        }

        &.large {
            font-size: 2em;
        }

        &.round {
            border-radius: 50%;
        }

        &.red {
            background-color: setcolor(red, base);
            box-shadow: .1em .1em 0 setcolor(red, dark);
        }

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            @include mq(max-small) {
                line-height: .7;
            }

            @include mq(medium) {
                &::after {
                    transform: translateY(-3px);
                    font-size: rem(8px);
                    text-transform: uppercase;
                    content: attr(data-label);
                    display: block;
                    font-style: normal;
                    font-weight: bold;
                    line-height: .5;
                    text-shadow: 1px 1px 1px rgba(0,0,0,.1);
                }
            }
        }

        i.s-garbage::before {
            margin-left: rem(3px);
        }

        &:focus,
        &:active,
        &.active {
            top: .1em;
            left: .1em;
            box-shadow: none;
        }
    }
}

.loading {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    height: 100%;
    width: 100%;
    z-index: 3;

    &.active {
        display: block;
    }

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 8vw;
        height: auto;

        > * {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .percent {
        display: block;
        padding: 1vw;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        color: setcolor(white);
    }
}




.no-images {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: setcolor(blue, dark);


    i.symbol {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 150px;
    }

    &.active {
        display: block;
    }
}


.speed-icon {
    font-size: 1em;
    vertical-align: middle;
    margin-right: -5px;
    color: #777;

    &.slow {
        // Adjusting for differences in SVG size
        font-size: 1.3em;
        top: 3px;
    }
}

input.speed-control {
    width: calc(100% - 4em);
    margin-right: -5px;
}

.render-speed-label {
    display: block;
    font-size: rem(10px);
    text-align: center;
    text-transform: uppercase;
}
