.section-frames {
  position: fixed;
  top: 0;
  right: 0;
  width: 20vw;
  height: 100%;
  overflow: visible;
  background-color: setcolor(gray, dark);
  border-left: 1px solid setcolor(black);
  z-index: 40;
  transform: translateX(20vw);
  transition: all 300ms ease-out;

  &.active {
    transform: translateX(0);

    .close-frames {
      transform: translateX(-2.6em);
    }
  }

  .close-frames {
    cursor: pointer;
    transition: all 300ms ease-out;
    position: absolute;
    padding: .8em;
    left: 0;
    top: 0;
    background-color: setcolor(gray, lighter);
    color: setcolor(white);
    line-height: .8;
  }

}

.frame-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.frame-container {
  @extend %cf;
  padding: .2em 0;
  cursor: move;

  & + & {
    margin-top: 1vw;
  }
}

.frames {
  list-style: none;
  padding: 1vw;

  img {
    display: block;
    width: calc(100% - .5em);
  }
}

.remove {
  cursor: pointer;
  color: setcolor(white);
  position: absolute;
  top: -.3em;
  right: .1em;
  z-index: 2;
  background-color: setcolor(red, base);
  border-radius: 50%;
  height: 1.2em;
  width: 1.2em;

  i {
    font-size: .8em;
    line-height: .5;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
